*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

h1,
h2,
h3,
h4 {
	color: rgb(32, 34, 35);
}

p {
	color: rgb(92, 95, 98);
}

strong {
	font-weight: 600;
	color: #000;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	padding: 0;
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-family: 'Inter', sans-serif;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
}

.theme-light {
	background-color: #fff;
	color: #0d1213;
}

.theme-dark {
	background-color: #0d1213;
	color: #fff;
}

.is-active {
	font-weight: 600;
}

.hidden {
	display: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

header {
	position: sticky;
	top: 0;
}

nav {
	padding: 0 4rem 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	color: #5c5f62;
	background: #fff;
}

nav ul {
	gap: 1.4rem;
}

nav ul li:hover {
	color: #202223;
}

[data-dropdown-content] {
	border-radius: 0.5rem;
	margin-top: 0.4rem;
	min-width: 13.75rem;
	position: absolute;
	line-height: 2;
	background: #fafbfb;
	box-shadow: 0 5px 30px 5px rgba(66, 71, 76, 0.1);
}

.nav__dropdown-item:hover {
	background-color: #f6f6f7;
}

[data-dropdown-content] .nav__dropdown-item {
	padding: 0.375rem 0.8rem 0;
	display: block;
	color: #5c5f62;
}

[data-dropdown-content] li p {
	padding: 0.75rem 0.8rem 0;
	font-size: 12px;
	color: #5c5f62;
}

.nav__dropdown-item.nav__dropdown-item--seperated {
	border-top: 1px solid rgb(210, 213, 216);
	margin-top: 0.3rem;
	padding: 0.4rem 0.8rem;
}

.nav__dropdown-item--seperated a {
	padding-bottom: 0.4rem;
}

main p a {
	text-decoration: underline;
}

.navigation__left-container {
	gap: 3rem;
}

.navigation__right-container,
.navigation__left-container {
	display: flex;
	align-items: center;
}

.header__navigation-left,
.header__navigation-right {
	display: flex;
}

.search-bar__container {
	padding: 0.2rem;
	border: 1px solid #000;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

.search-bar__container .search-bar__prefix {
	width: 1.125rem;
	height: 1.125rem;
	color: #6d7175;
}

.search-bar__container .search-bar__suffix {
	padding: 0px 6px;
	border: 1px solid #6d7175;
	border-radius: 4px;
	font-size: 12px;
	color: #6d7175;
}

.search-bar__container input {
	border: none;
	margin-left: 4px;
	width: 80px;
	color: #6d7175;
}

.search-bar__container input::placeholder {
	opacity: 1;
}

.theme-toggle {
	border: none;
	margin-left: 1.4rem;
	display: flex;
	background: none;
	cursor: pointer;
}

.theme-toggle__icon {
	display: flex;
	width: 1.25rem;
	height: 1.25rem;
}

.hero__heading {
	margin-bottom: 1.5rem;
	font-size: 3rem;
	font-weight: 800;
	line-height: 1.25;
	letter-spacing: -1.35px;
}

.hero__description {
	margin-bottom: 3rem;
	font-size: 18px;
}

.hero {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5rem;
}

.hero__content {
	padding: 7.5rem 0 0 4rem;
	max-width: 660px;
	justify-self: end;
}

.hero__content p a {
	text-decoration-line: underline;
}

.hero__content a:hover {
	text-decoration-line: none;
}

.hero__content h3 {
	margin-bottom: 0.825rem;
	font-size: 20px;
	font-weight: 600;
}

.gutter-bottom {
	margin-bottom: 1.8rem;
}

.hero-links__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.4rem;
}

.docs-card {
	padding: 1rem;
	border: 1px solid #d2d5d8;
	border-radius: 8px;
	display: flex;
	align-items: center;
	background-color: #fafbfb;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	transition: transform 125ms ease-in-out, box-shadow 125ms ease-in-out;
}

.docs-card:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

.docs-card__title {
	margin-left: 0.75rem;
	font-size: 20px;
	font-weight: 600;
	color: inherit;
}

.hero__illustration {
	background: url('https://cdn.shopify.com/shopifycloud/shopify_dev/assets/home/halloween/hero-1-2x-b0a493fe272b53baf44c27c7ff169ae2b563e346e46325262ca364c61c6cdd01.png')
		no-repeat;
	background-size: auto 1128px;
	min-height: 1128px;
}

.hero__illustration--mobile,
.hero__illustration-2--mobile,
.hero__illustration-3--mobile {
	display: none;
	height: 365px;
}

.docs-banner {
	padding: 4rem 0;
	border-radius: 1rem;
	margin: 5rem 1.4rem 0;
	background-color: #eafaf3;
}

.docs-banner__container {
	margin: 0 auto;
	max-width: 1268px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center end;
}

.docs-banner__container h3 {
	margin-bottom: 1rem;
	font-weight: 600;
}

.docs-banner__title {
	font-size: 2rem;
	line-height: 40px;
	font-weight: 600;
}

.stats-box__container {
	padding: 3rem 4rem;
	border: 4px solid #000;
	margin: 0;
	background-color: #fff;
	box-shadow: 9px 9px 0 0 rgb(0, 0, 0);
}

.stats-box__row {
	display: flex;
	align-items: center;
}

.stats-box__row:not(:last-child) {
	margin-bottom: 1.75rem;
}

.stats-box__row p {
	margin-left: 1.5rem;
	width: 13rem;
}

.community__container {
	margin: 5rem 5.8rem 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.community__link {
	padding: 0.75rem;
	border: 1px solid #d2d5d8;
	border-radius: 6px;
	height: 100%;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	background-color: #fafbfb;
	transition: transform 125ms ease-in-out, box-shadow 125ms ease-in-out;
}

.community__link:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

.community__link--borderless {
	background-color: #f4f6ff;
	border: none;
	box-shadow: none;
}

.community__link--borderless:hover {
	transform: none;
	box-shadow: none;
}

.community__link--borderless .community__title {
	font-size: 20px;
	font-weight: 600;
}

.community__img {
	margin-bottom: 0.75rem;
}

.community__title {
	font-weight: 600;
	color: #202223;
}

.community__link:not(.community__link--borderless) .community__title::after {
	content: '->';
	margin-left: 0.35rem;
}

.community__description {
	margin-top: 0.5rem;
	font-size: 14px;
}

.footer__top {
	border-radius: 1rem;
	margin: 5rem 1.4rem 0;
	background-color: #fafbfb;
}

.footer__items-grid {
	padding: 4rem 0;
	margin: 0 auto;
	width: 85vw;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 2rem;
}

.footer__item-heading {
	font-size: 12px;
	font-weight: 600;
}

.footer__item-list li {
	margin: 0.75rem 0;
	font-size: 14px;
	color: #5c5f62;
}

.footer__nav {
	background: #f6f6f7;
	padding: 1.5rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.footer-nav__list {
	display: flex;
	gap: 1.2rem;
	font-size: 14px;
	font-weight: 600;
	color: #5c5f62;
	width: 85vw;
	margin: 0 auto;
}

/* 1000px */
@media screen and (max-width: 62.5rem) {
	.hero {
		grid-template-columns: 1fr;
	}

	.hero__features {
		margin-bottom: 3rem;
	}

	.hero__illustration {
		display: none;
	}

	.hero__illustration--mobile,
	.hero__illustration-2--mobile,
	.hero__illustration-3--mobile {
		display: block;
	}

	.hero__illustration--mobile {
		background: url('./img/hero-1-mobile.png') center center/cover no-repeat;
		order: -1;
	}

	.hero__illustration-2--mobile {
		background: url('./img/hero-2-tablet.png') center center/cover no-repeat;
	}

	.hero__illustration-3--mobile {
		background: url('./img/hero-3-tablet.png') center center/cover no-repeat;
	}

	.hero__content {
		padding: 0;
		margin: 0 auto;
		max-width: 640px;
		justify-self: start;
	}

	.docs-banner {
		padding: 4rem 2rem;
		margin: 5rem auto 0;
		max-width: 50rem;
	}

	.docs-banner__container {
		grid-template-columns: 1fr;
	}

	.stats-box__container {
		display: flex;
		flex-wrap: wrap;
	}

	.stats-box__row p {
		font-size: 0.875rem;
	}

	.stats-box__row strong {
		font-size: 1rem;
	}

	.community__container {
		grid-template-columns: 1fr 1fr;
		max-width: 44rem;
		margin: 2rem auto 0;
	}
}

/* 880px */
@media screen and (max-width: 55rem) {
	.hero__heading {
		font-size: 2rem;
		letter-spacing: -0.9px;
	}
}

/* 640px */
@media screen and (max-width: 40rem) {
	.hero__content {
		padding: 1rem;
	}

	.docs-banner {
		padding: 4rem 1rem;
	}

	.docs-banner__title {
		font-size: 1.5rem;
	}

	.stats-box__container {
		padding: 3rem 1.5rem;
	}

	.hero-links__container,
	.community__container {
		grid-template-columns: 1fr;
	}

	.community__container {
		margin: 5rem 1rem 0;
	}

	.footer__top {
		border-radius: 0;
		margin: 5rem 0;
	}

	.footer__items-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
