*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	padding: 0;
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-family: 'Inter', sans-serif;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Move below rules somewhere appropriate */
.theme-light {
	background-color: #fff;
	color: #0d1213;
}

.theme-dark {
	background-color: #0d1213;
	color: #fff;
}

img {
	max-width: 100%;
	display: block;
}

input,
button {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

nav {
	margin: 0 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	/* color: #d7d7db; */
	color: #5c5f62;
}

nav ul {
	gap: 1.4rem;
}

nav ul li:hover {
	color: #202223;
}

.header__navigation-left,
.header__navigation-right {
	display: flex;
}

.navigation__right-container {
	display: flex;
	align-items: center;
}

.search-bar__container {
	padding: 0.2rem;
	border: 1px solid #000;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

.search-bar__container .search-bar__prefix {
	width: 1.125rem;
	height: 1.125rem;
	color: #6D7175;
}

.search-bar__container .search-bar__suffix {
	padding: 0px 6px;
	border: 1px solid #6D7175;
	border-radius: 4px;
	font-size: 12px;
	color: #6D7175;
}

.search-bar__container input {
	border: none;
	margin-left: 4px;
	width: 80px;
	color: #6D7175;
}

.search-bar__container input::placeholder {
	opacity: 1;
}

.theme-toggle {
	border: none;
	margin-left: 1.4rem;
	display: flex;
	background: none;
	cursor: pointer;
}

.theme-toggle__icon {
	display: flex;
	width: 1.25rem;
	height: 1.25rem;
}

/* .main__heading {
	font-size: 2.5em;
	line-height: 1.25;
} */
